@use './../../../../styles/grids.scss' as *;

.snapshot-card {

   @include component-sidebar-grid();

   display: flex;
   flex-direction: column;
   gap: 1.25rem;
   width: 100%;
   max-width: 270px;
   background: #12171D;
   box-shadow: 5px 5px darkgray;
   padding: 1.25rem 1rem;


   .snapshot-title {
      font-family: 'Radley', sans-serif;
      font-weight: 400;
      font-size: 24px;
      color: #C76831;
   }

   h3 {
      font-family: 'Worker Sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #C76831;
   }

   p {
      font-family: 'Worker Sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #FFF;
   }

   ul {
      color: #C76831;
      padding-inline-start: 1.5rem;
      list-style: square;

      li {
         position: relative;
         // padding-left: 1em;

         // &::before {
         //    content: ">";
         //    position: absolute;
         //    left: 0;
         //    top: -15%;
         //    color: #C76831;
         //    font-weight: bold;
         // }

         p {
            font-weight: 600;
            margin: 0;
            margin-bottom: .5rem;
         }

         ul {
            padding-inline-start: .5rem;
            list-style: circle;

            li {
               // padding-left: 0rem;

               &::before {
                  content: unset;
                  position: unset;
               }
            }

            p {
               font-weight: 400;
            }
         }
      }
   }
}