@use './../../../styles/grids.scss' as *;
@use './../../../styles/typography.scss' as *;

.navbar {
   display: flex;
   padding: 0; // Reset padding if necessary
   box-sizing: border-box; // Include padding and border in width calculation
   width: 100%;
   align-items: center;
   justify-content: space-between;
   margin: 2rem auto;
   position: relative; // Set relative positioning for child elements
   top: 10px;
   z-index: 1000; // Ensure it appears above other elements
}

.navbarContainer {
   display: flex;
   width: 100%;
   justify-content: space-between;
}

.navbarCenter {
   position: sticky;
   max-height: 40px;
   font-size: 1.05rem;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.navbarLogo {
   font-size: 1.5rem;
   min-width: 200px; // optional minimum width
   max-width: 100%; // prevent overflow
   padding: 0.5rem;
   text-decoration: none;
   color: white;
}

.navbarItem {
   color: white;
   width: 100%;
   text-decoration: none;
   text-align: center;
   padding: 0.5rem 1rem;
   border: 2px solid transparent;
}

.navbarItem:hover {
   color: orange;
   text-decoration: none;
   background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to bottom, #C66831, #4f2913) border-box;
   border-radius: 0.5rem;
}

.navbarItems {
   //layout
   width: 100%;
   position: absolute;
   top: calc(100% + 10px);
   width: 100vw;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   color: white;
   border: 2px solid transparent;

   //styles
   background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to bottom, #C66831, #4f2913) border-box;
   border-radius: 0.5rem;
   z-index: 10;
   box-sizing: border-box;
   padding: 1rem 1rem;

   //desktop
   .mobile-demo {
      display: block;
      margin: auto;

      @media screen and (min-width: 1024px) {
         display: none;
      }
   }
}

.hamburgerContainer {
   margin-right: 0.5rem;
   max-height: 40px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 1.25rem 1rem;
   background-color: #12171D;
   border-radius: 10rem;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
   border: 2px solid transparent;
   background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to bottom, #C66831, #4f2913) border-box;
   filter: blur(0.25px);
   z-index: 1000;
   top: 10;
   right: 10;
}

.navbarHamburger {
   display: block;
   width: 1.5rem;
   height: 1.5rem;
   cursor: pointer;
   margin-left: auto;
   margin-right: auto;
}

.hidden {
   display: none;
}

.visible {
   display: flex;
}

.consultationButton {
   display: none;
   color: yellow;
}

@media screen and (min-width: 1024px) {
   .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 100%;
   }

   .navbarContainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 1.5rem;
      margin: 0 1rem;
   }

   .navbarCenter {
      position: sticky;
      display: flex;
      max-height: 40px;
      font-size: 1.05rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 1.5rem;
      background-color: #12171D;
      border-radius: 10rem;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      border: 2px solid transparent;
      background:
         linear-gradient(black, black) padding-box,
         linear-gradient(to bottom, #C66831, #4f2913) border-box;
      filter: blur(0.25px);
      box-sizing: border-box;
   }

   .navbarItems {
      width: auto;
      position: unset;
      display: flex;
      flex-direction: row;
      background:
         linear-gradient(black, black) padding-box,
         linear-gradient(to bottom, #C66831, #4f2913) border-box;
      border-radius: 1rem;
      padding: 0.5rem 1rem;
   }

   .navbarItem {
      width: auto;
      text-align: center;
      display: flex;
   }

   .hamburgerContainer {
      display: none;
   }

   .consultationButton {
      display: flex;
      min-width: 140px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      border: 2px solid transparent;
      background:
         linear-gradient(black, black) padding-box,
         linear-gradient(to bottom, #C66831, #4f2913) border-box;
      filter: blur(0.25px);
      border-radius: 0.5rem;
      padding: 0.75rem 0.75rem;
   }

   .consultationText:hover {
      color: orange;
      text-decoration: none;
      background:
         linear-gradient(black, black) padding-box,
         linear-gradient(to bottom, #C66831, #4f2913) border-box;
      border-radius: 0.5rem;
   }
}

.consultationText {
   color: white;
   text-decoration: none;
}