@use './../../../../styles/grids.scss' as *;
@use './../../../../styles/typography.scss' as *;

.cardTemplate {
   @include component-grid();
   font-family: sans-serif;
   display: grid;
   margin: 1rem 2.5rem 8rem 2rem;
   flex-direction: column;
   grid-column: span 4;
   color: white;
   border: 2px solid transparent;
   border-radius: 20px;
   width: 25rem;
   height: 15rem;

   .cardContainer {
      padding-left: 3rem;
      padding-top: 3rem;
      max-width: 75%;

      .cardHeader {
         margin: 0;
         margin-bottom: 2rem;

         strong {
            font-weight: 600;
         }
      }
   }
}

.metricGamerTemplate {
   background:
      url(./metricGamerBackground.svg) center / cover no-repeat,
      linear-gradient(#12171D, #12171D) padding-box,
      linear-gradient(to right, #351150, #F6CA56) border-box;
   box-shadow: 0 0 8px #AA5467;
}


.syrianFoundationTemplate {
   background:
      url(./syrianFoundationBackground.svg) center / cover no-repeat,
      linear-gradient(#1D1C1F, #1D1C1F) padding-box,
      linear-gradient(to right, #CE454B, #FFFFFF, ) border-box;
   box-shadow: 0 0 8px #AA5467;
}