@use './../../../styles/grids.scss' as *;
@use './../../../styles/typography.scss' as *;

.hero {
   @include component-grid();
}

.cardReviewTemplate {
//I want the card to be 4 grid-columns wide
   @include component-grid();
   display: flex;
   font-family: sans-serif;
   grid-column: span 4;
   height: 17rem;
   color: white;
   border: 2px solid transparent;
   border-radius: 20px;
   background: 
      linear-gradient(#12171D, #12171D) padding-box,
      linear-gradient(to bottom right, #F6CA56, #C2581B) border-box;
flex-direction: column;
gap: 1rem;
justify-content: space-between;
}

.gradientText {
   background: linear-gradient(to right, #ff7e5f, #feb47b);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }

 .headerText {
   display: flex;
   justify-content: center;
font-size: 1.5rem;
margin-top: 6rem;
margin-left: 5rem;
margin-right: 5rem;
text-align: center;
 }
 
 .bottomText {

   display: flex;
   flex-direction: column;
   margin: 0rem 2rem 1rem 2rem;
 }

 .centerCard {
   border-radius: 20px;
   background:
      url(./bottomBackground.svg) bottom right / cover no-repeat,
      url(./upperBackground.svg) top left / cover no-repeat,
      linear-gradient(#12171D, #12171D) padding-box,
      linear-gradient(to bottom right, #F6CA56, #C2581B) border-box;
      background-size: 50%;
      height: 18rem;
 }